/* $Id: Local.config,v 4.43 2000/10/29 17:11:36 bert Exp $
 * 
 * XPilot is copyright by the authors; see provided
 * LICENSE file for details.
 * 
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 * 
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 * 
 * You should have received a copy of the GNU General Public License
 * along with this program; if not, write to the Free Software
 * Foundation, Inc., 675 Mass Ave, Cambridge, MA 02139, USA.
 */


/*****************************************************************************
** 
** The recommended options you should try to enable in this file are:
**
**      DoublebufferExtension  (if you have libXext.a on your system)
**      ServerSound            (for remote sound playing clients)
**
*****************************************************************************/


#include "Local.rules"


#ifndef LocalGuru
#define	LocalGuru xpilot@xpilot.org	/* The one to contact for problems */
#endif /* LocalGuru */

PREFIX = /usr/local/games

/* Manual pages for games usually go to section 6. */
MANSUFFIX = 6
INSTMANDIR = $(PREFIX)/man/man$(MANSUFFIX)
INSTLIBDIR = $(PREFIX)/lib/xpilot
INSTBINDIR = $(PREFIX)/bin

/* #define Log		/* Try to log every server start to log file */
/* #define TurnThrust	/* Makes turning drain fuel and produce sparks */
/* #define Silent	/* Makes the server real silent */
/* #define ServerSound	/* Turns on sound support in the server (not client) */

/* #define DoublebufferExtension	/* support for X Doublebuffer Extension */
/* #define MultibufferExtension 	/* support for X Multibuffer Extension */
/* #define Joystick	/* Joystick support for Linux, needs joystick 0.7 */


/*
 * Try the alternate colormap swapping code that talks directly to
 * the sparc hardware.  This only makes sense on the SPARC architecture
 * and if you use the -erase client commandline option.
 * WARNING!  DO NOT USE ON OTHER HARDWARE!
 */
/* #define SparcCmapHack	/**/


/*
 * Use the plock(2) system call to lock the xpilot server (xpilots) into
 * memory, i.e., to prevent it from being paged out.  This probably only
 * makes sense in conjunction with raising the priority of the server a
 * little, which is equivalent to reducing the nice value a few points.
 * Note that both require special system privileges.  This feature has
 * so far only been tested on HP-UX and Linux.
 */
/* #define PlockServer		/**/


/*
 * This flag enables window scaling (the ability to shrink the
 * playfield to expose more of surrounding world).  You probably
 * want this especially if your screen size is less than 1280x1024.
 */
#define WindowScaling		/**/


/*
 * Imake should specify the right CC if set up reasonably, but if that does
 * not work, try one of these:
 *
 * If you are still unsuccessful, try modifying and using src/Makefile.std
 * instead of this file.
 */
/* CC = cc -Ae +FPD		/* HP-UX */
/* CC = gcc			/* SUNs with gcc */
/* CC = acc -fast		/* SUNs with acc */
/* CC = cc			/* SGI Indigo (see CCOPTIONS below!) */
/* CC = cc -std1 -non_shared	/* DEC/OSF1 V1.2 */
/* CC = c89			/* DEC/ULTRIX 4.2 with c89 compiler kit */
/* CC = gcc -D__STDC__		/* DEC/ULTRIX with gcc */
/* CC = gcc			/* 386BSD */
/* CC = cc			/* AIX */
/* CC = cc -Xa			/* Sequent's ANSI cc (Dynix/PTX 2 and up) */
/* CC = CC -D_HPUX_SOURCE -D__STDC__	/* HP (USG) C++ - too strict yet */


/*
 * CDEBUGFLAGS should specify optimalization or debug information (or both).
 * Try not defining anything first.  You probably want -O for speed.
 */
CDEBUGFLAGS = -g				/* General debug flag */
/* CDEBUGFLAGS = -O				/* General optimize flag */
/* CDEBUGFLAGS = -Ae +O3 +FPD			/* HP cc optimize flags (no +ESlit) */
/* CDEBUGFLAGS = -Ae -g -z +w1			/* HP cc debug flags */
/* CDEBUGFLAGS = -g2 -O2			/* SGI debug */
/* CDEBUGFLAGS = -O2				/* SGI optimize */
/* CDEBUGFLAGS = -O -Hfsingle -w		/* AIX on a 3090 Mainframe */
/* CDEBUGFLAGS = -O2 -fstrength-reduce		/* gcc optimize flags */
/* CDEBUGFLAGS = -Wc,-O3			/* Dynix/PTX 2 flags */
/* CDEBUGFLAGS = -Wall 				/* gcc high warning level */
/* CDEBUGFLAGS = -Wall -pedantic -ansi -Dlint	/* gcc ridiculous warning level */


/*
 * For sound support, you must uncomment either one of these
 * following lines and customize the paths
 */
/* #define NCD_SOUND			/* Uncomment for NCD sound support */
NCDAUDIOINC = -I/usr/local/include
NCDAUDIOLIB = -L/usr/local/lib -laudio

/* #define RPLAY_SOUND			/* Uncomment for rplay sound support */
RPLAYAUDIOINC = -I/usr/local/include
RPLAYAUDIOLIB = -L/usr/local/lib -lrplay

/* #define AF_SOUND			/* Uncomment for AF sound support */
AFAUDIOINC = -I/usr/include/AF
AFAUDIOLIB = -lAF -lAFUtil

/* Note that this doesn't really work well.  Dunno why.
 * Blame HP's Alib & Aserver. */
/* #define HP_SOUND			/* Uncomment for HP sound support */
HPAUDIOINC = 
HPAUDIOLIB = -lAlib

/* #define DEBUG_SOUND			/* Uncomment for debugging sound support */


/*
 * If you really need to pass some more defines to the C compiler
 * you can set DEFS_OTHER.  You may want to set it on the command
 * line, e.g., 'make DEFS_OTHER=-DMY_SPECIAL_HACK'.
 * XXX: Blizz reports that this doesn't work (anymore?).
 */
/* DEFS_OTHER =				/* Any other defines */

/*
 * Miscellaneous.  Users with broken X11 Imake config (like some SGI and Sun)
 * must select their CCOPTIONS here.
 */
/* CCOPTIONS = -Ae			/* If HP C complains about prototypes. */
/* CCOPTIONS = -xansi			/* Typical SGI */
/* CCOPTIONS = -Xa -xF -xcg92		/* Sun Solaris 2.6 with Sun Pro C */

/* TOP_INCLUDES =			/* Sun users with GCC need this */
/* EXTRALIB = -ldnet_stub		/* DEC/OSF1 DECnet library required */
/* EXTRALIB = -lsocket -lnsl		/* Solaris needs these */
/* EXTRALIB =				/* normal */

MATHLIB = -lm				/* Your math library, probably ok */
/* MATHLIB = -lM			/* For HP use a faster math library. */

/* LDPOSTLIB = 				/* SGI Irix 6.0 should NOT have -nostdlib in 64 bit mode. */

CTAGS = ctags				/* Your favorite tagging program. */
CTAGOPTIONS = 				/* Any options you'd like to pass to $(CTAGS) */

/************* E N D *** E N D *** E N D *** E N D *** E N D *************
 * END OF USER CONFIGURATION.  The remainder of the file is updated by
 * the developers only.
 */

/* Version string:
 * IMPORTANT!   If you're working on an unofficial version, please
 * change the VERSION_STATUS field to avoid confusion.  Only the
 * official version can have a VERSION_STATUS field that is empty
 * or contains the word "beta" or "alpha".
 */
      VERSION_MAJOR = 4
      VERSION_MINOR = 3
 VERSION_PATCHLEVEL = 0
    VERSION_WINDOWS = 13
     VERSION_STATUS = 
        RELEASEDATE = Oct 29th, 2000


/*
 * Address to send bug reports etc.  (Must not be quoted)
 */
#ifndef ContactAddress
#define ContactAddress	xpilot@xpilot.org
#endif /* ContactAddress */


/*
 * Copyright etc.
 */
      AUTHORS = Bjørn Stabell, Ken Ronny Schouten, Bert Gijsbers & Dick Balaska
COPYRIGHTDATE = 1991-2000
    COPYRIGHT = Copyright © $(COPYRIGHTDATE) by $(AUTHORS)
        TITLE = XPilot $(VERSION)
      VERSION = \
  $(VERSION_MAJOR).$(VERSION_MINOR).$(VERSION_PATCHLEVEL)$(VERSION_STATUS)
   WINVERSION = $(VERSION_MAJOR).$(VERSION_MINOR).$(VERSION_PATCHLEVEL)$(VERSION_STATUS)-NT$(VERSION_WINDOWS)


/*** NEVER TOUCH ANYTHING BELOW THIS LINE ***/

     LOCALGURU = LocalGuru
CONTACTADDRESS = ContactAddress

/*** Msub stuff ***/
#ifndef MsubCmd
#define MsubCmd $(TOP)/contrib/msub/msub
#endif /* MsubCmd */
MSUB = MsubCmd
MSUBSRC = $(TOP)/contrib/msub
MSUBFLAGS = +R"@<" -R">@"


/*** Let's make sure TOPDIR is in include path, and ***/
/*** provide override opportunitites without modifying this file ***/

/* IMAKE_DEFINES is really meant for command line use, but there is
   no alternative way to influence the bootstrap process.  Also, using
   imaketop makes us 'slightly' locked to the current implementation of
   MakeMakeSubdirs, which we, by the way, provide :) */

         IMAKETOP = $$imaketop

#ifndef MY_CONFIG

    IMAKE_DEFINES = -I$(IMAKETOP)

#else /* MY_CONFIG */

    IMAKE_DEFINES = -I$(IMAKETOP) -DMY_CONFIG
XCOMM Values from My.config that override the ones in Local.config
#include "My.config"
XCOMM End of MY_CONFIG

#endif /* MY_CONFIG */
